.elementor-1641 .elementor-element.elementor-element-abe1e73:not(.elementor-motion-effects-element-type-background),
.elementor-1641 .elementor-element.elementor-element-abe1e73>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/02/slide3-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-1641 .elementor-element.elementor-element-abe1e73 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1641 .elementor-element.elementor-element-abe1e73>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1641 .elementor-element.elementor-element-8914b7b {
	margin-top: -222px;
	margin-bottom: 0px;
	padding: 0px 144px 0px 144px;
}

.elementor-1641 .elementor-element.elementor-element-60f9e96 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-60f9e96 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-60f9e96 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-60f9e96 .icon-box {
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.elementor-1641 .elementor-element.elementor-element-da2cef4 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-da2cef4 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-da2cef4 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-da2cef4 .icon-box {
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.elementor-1641 .elementor-element.elementor-element-6ad7a15 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-6ad7a15 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-6ad7a15 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-6ad7a15 .icon-box {
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.elementor-1641 .elementor-element.elementor-element-a48466c .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-a48466c .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-a48466c .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-a48466c .icon-box {
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.elementor-1641 .elementor-element.elementor-element-010ac50 {
	padding: 75px 0px 83px 0px;
}

.elementor-bc-flex-widget .elementor-1641 .elementor-element.elementor-element-cac1e7b.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-1641 .elementor-element.elementor-element-cac1e7b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-1641 .elementor-element.elementor-element-4972d7d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-1641 .elementor-element.elementor-element-4972d7d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-1641 .elementor-element.elementor-element-76360ce .section-title h5 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-d8a9b4b .elementor-heading-title {
	color: #E5912F;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.elementor-1641 .elementor-element.elementor-element-4d12c2d {
	padding: 0px 0px 70px 0px;
}

.elementor-1641 .elementor-element.elementor-element-ebe04e3 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-ebe04e3 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-ebe04e3 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-0f598e3 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-0f598e3 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-0f598e3 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-2ab490f .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-2ab490f .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-2ab490f .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-5f1a88b .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-5f1a88b .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-5f1a88b .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-6ed2c52 .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-6ed2c52 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-6ed2c52 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-471b4cb .icon-box.style-two {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-471b4cb .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-471b4cb .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-1641 .elementor-element.elementor-element-7d77363 {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-7d77363 .elementor-heading-title {
	color: #E5912F;
	font-family: "Roboto", Sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
}

.elementor-1641 .elementor-element.elementor-element-7d77363>.elementor-widget-container {
	margin: 50px 0px 0px 0px;
}

.elementor-1641 .elementor-element.elementor-element-ae7858d:not(.elementor-motion-effects-element-type-background),
.elementor-1641 .elementor-element.elementor-element-ae7858d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FDE9D9;
}

.elementor-1641 .elementor-element.elementor-element-ae7858d {
	border-style: solid;
	border-width: 25px 25px 25px 25px;
	border-color: #FDD2AE;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-1641 .elementor-element.elementor-element-ae7858d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1641 .elementor-element.elementor-element-edcc580 .single-counter {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-49cc983 .single-counter {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-dc6be67 .single-counter {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-f76c217 .single-counter {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-75981f0 {
	padding: 87px 0px 0px 0px;
}

.elementor-1641 .elementor-element.elementor-element-46b6702>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-1641 .elementor-element.elementor-element-ecdad7f {
	padding: 64px 0px 0px 0px;
}

.elementor-1641 .elementor-element.elementor-element-835e520 .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-835e520 .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-835e520 .social-icons1 a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-835e520 .team-social a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-c09b5fc .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-c09b5fc .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-c09b5fc .social-icons1 a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-c09b5fc .team-social a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-fda20e5 .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-fda20e5 .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-fda20e5 .social-icons1 a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-fda20e5 .team-social a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-4d7f709 .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-4d7f709 .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-1641 .elementor-element.elementor-element-4d7f709 .social-icons1 a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-4d7f709 .team-social a i {
	font-size: 15px;
}

.elementor-1641 .elementor-element.elementor-element-b6f13e5 {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-b6f13e5 .elementor-heading-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-b6f13e5>.elementor-widget-container {
	margin: 65px 0px 0px 0px;
}

.elementor-1641 .elementor-element.elementor-element-5ecd5c4 {
	padding: 85px 0px 50px 0px;
}

.elementor-1641 .elementor-element.elementor-element-eb61b68>.elementor-element-populated {
	padding: 10px 0px 0px 50px;
}

.elementor-1641 .elementor-element.elementor-element-74b6153 {
	text-align: center;
}

.elementor-1641 .elementor-element.elementor-element-74b6153 .elementor-heading-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.elementor-1641 .elementor-element.elementor-element-74b6153>.elementor-widget-container {
	margin: 65px 0px 0px 0px;
}

.elementor-1641 .elementor-element.elementor-element-16ab0ad {
	padding: 85px 0px 80px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-1641 .elementor-element.elementor-element-6ef26ba {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-fd93c24 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-8ec8c5d {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-e824a4c {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-cac1e7b {
		width: 100%;
	}

	.elementor-1641 .elementor-element.elementor-element-4972d7d {
		width: 100%;
	}

	.elementor-1641 .elementor-element.elementor-element-91646d3 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-b4e05b3 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-62315fd {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-6782ed1 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-6da65a5 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-2f8e08b {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-f05f767 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-0d3d528 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-7f5700e {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-f3b16eb {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-369f10a {
		width: 100%;
	}

	.elementor-1641 .elementor-element.elementor-element-3bcd519 {
		width: 100%;
	}

	.elementor-1641 .elementor-element.elementor-element-578b7d8 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-cc7055d {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-5e4f619 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-54a0796 {
		width: 50%;
	}

	.elementor-1641 .elementor-element.elementor-element-2b21a3a {
		width: 100%;
	}

	.elementor-1641 .elementor-element.elementor-element-eb61b68 {
		width: 100%;
	}
}

@media(min-width:1025px) {

	.elementor-1641 .elementor-element.elementor-element-abe1e73:not(.elementor-motion-effects-element-type-background),
	.elementor-1641 .elementor-element.elementor-element-abe1e73>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}
}

@media(max-width:1024px) {
	.elementor-1641 .elementor-element.elementor-element-8914b7b {
		padding: 80px 0px 80px 0px;
	}

	.elementor-1641 .elementor-element.elementor-element-cac1e7b>.elementor-element-populated {
		padding: 0px 0px 0px 10px;
	}

	.elementor-1641 .elementor-element.elementor-element-eb61b68>.elementor-element-populated {
		padding: 0px 10px 0px 10px;
	}
}

@media(max-width:767px) {
	.elementor-1641 .elementor-element.elementor-element-8914b7b {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 100px 0px 0px 0px;
	}

	.elementor-1641 .elementor-element.elementor-element-010ac50 {
		padding: 62px 0px 50px 0px;
	}

	.elementor-1641 .elementor-element.elementor-element-cac1e7b>.elementor-element-populated {
		padding: 0px 0px 0px 10px;
	}

	.elementor-1641 .elementor-element.elementor-element-4d12c2d {
		padding: 75px 0px 0px 0px;
	}

	.elementor-1641 .elementor-element.elementor-element-b6f13e5 .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-1641 .elementor-element.elementor-element-5ecd5c4 {
		padding: 42px 0px 0px 0px;
	}

	.elementor-1641 .elementor-element.elementor-element-eb61b68>.elementor-element-populated {
		padding: 4px 0px 0px 10px;
	}

	.elementor-1641 .elementor-element.elementor-element-74b6153 .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-1641 .elementor-element.elementor-element-16ab0ad {
		padding: 90px 0px 60px 0px;
	}
}