.elementor-2012 .elementor-element.elementor-element-abe1e73>.elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2012 .elementor-element.elementor-element-abe1e73 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2012 .elementor-element.elementor-element-23a23c4 {
	/* border-style: solid; */
	border-width: 03px 0px 0px 0px;
	border-color: #FBFBFB;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -40px;
	/* padding: 40px 0px 0px 0px; */
}

.elementor-2012 .elementor-element.elementor-element-23a23c4>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2012 .elementor-element.elementor-element-9d2d8a0 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-9d2d8a0 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-9d2d8a0 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-0040c5c .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-0040c5c .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-0040c5c .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-2a677a5 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-2a677a5 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-2a677a5 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-f9f9c67 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-f9f9c67 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-f9f9c67 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-9829767 {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-9829767 .elementor-heading-title {
	color: #202628;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-9829767>.elementor-widget-container {
	margin: 45px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-010ac50 {
	padding: 100px 0px 70px 0px;
}

.elementor-bc-flex-widget .elementor-2012 .elementor-element.elementor-element-cac1e7b.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-cac1e7b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-cac1e7b>.elementor-element-populated {
	padding: 0px 60px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-d6015ca .section-title h5 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-d6015ca .section-title h3 {
	font-family: "PT Serif", Sans-serif;
}

.elementor-2012 .elementor-element.elementor-element-1512e11>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-2012 .elementor-element.elementor-element-a8d05d1.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-a8d05d1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-0716e00 .elementor-heading-title {
	color: #E5912F;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}

.elementor-bc-flex-widget .elementor-2012 .elementor-element.elementor-element-4972d7d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-4972d7d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2012 .elementor-element.elementor-element-b689964 .single-counter {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-38f069b .single-counter {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-d9ba929 .single-counter {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-aeb4607 .single-counter {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-806c896 {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-806c896 .elementor-heading-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 19px;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-806c896>.elementor-widget-container {
	margin: 65px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-4d12c2d {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #FAFAFA;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 97px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-4d12c2d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2012 .elementor-element.elementor-element-c3ed033 {
	padding: 0px 0px 50px 0px;
}

.elementor-2012 .elementor-element.elementor-element-ebe04e3 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-ebe04e3 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-ebe04e3 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-0f598e3 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-0f598e3 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-0f598e3 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-2ab490f .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-2ab490f .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-2ab490f .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-5f1a88b .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-5f1a88b .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-5f1a88b .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-6ed2c52 .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-6ed2c52 .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-6ed2c52 .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-471b4cb .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-471b4cb .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-471b4cb .icon-box-content p {
	font-family: "Roboto", Sans-serif;
	font-weight: normal;
}

.elementor-2012 .elementor-element.elementor-element-1bb32a6 {
	padding: 30px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-74b6153 {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-74b6153 .elementor-heading-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-74b6153>.elementor-widget-container {
	margin: 65px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-4007875 {
	padding: 85px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-663f80c .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-663f80c .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-663f80c .social-icons1 a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-663f80c .team-social a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-b7703ea .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-b7703ea .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-b7703ea .social-icons1 a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-b7703ea .team-social a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-c8c1acc .team-item-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-c8c1acc .team-inner-wrap {
	margin-bottom: 20px;
}

.elementor-2012 .elementor-element.elementor-element-c8c1acc .social-icons1 a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-c8c1acc .team-social a i {
	font-size: 15px;
}

.elementor-2012 .elementor-element.elementor-element-37bf6dc {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-37bf6dc .elementor-heading-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.elementor-2012 .elementor-element.elementor-element-37bf6dc>.elementor-widget-container {
	margin: 65px 0px 0px 0px;
}

.elementor-2012 .elementor-element.elementor-element-16ab0ad {
	padding: 110px 0px 80px 0px;
}

.elementor-2012 .elementor-element.elementor-element-2c442ff {
	padding: 0px 0px 120px 0px;
}

.elementor-2012 .elementor-element.elementor-element-ca49099>.elementor-element-populated {
	padding: 0px 040px 0px 015px;
}

.elementor-2012 .elementor-element.elementor-element-f394c22>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-2012 .elementor-element.elementor-element-69759ea .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-69759ea .icon-box-icon .icon i {
	color: #E5912F;
}

.elementor-2012 .elementor-element.elementor-element-69759ea .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

.elementor-2012 .elementor-element.elementor-element-ceaa04a .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-ceaa04a .icon-box-icon .icon i {
	color: #E5912F;
}

.elementor-2012 .elementor-element.elementor-element-ceaa04a .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

.elementor-2012 .elementor-element.elementor-element-f168e0a .icon-box.style-two {
	text-align: center;
}

.elementor-2012 .elementor-element.elementor-element-f168e0a .icon-box-icon .icon i {
	color: #E5912F;
}

.elementor-2012 .elementor-element.elementor-element-f168e0a .icon-box-content h2 {
	font-family: "Roboto", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

.elementor-2012 .elementor-element.elementor-element-daed2dc>.elementor-element-populated {
	padding: 10px 0px 0px 50px;
}

@media(min-width:768px) {
	.elementor-2012 .elementor-element.elementor-element-a8d05d1 {
		width: 66.469%;
	}

	.elementor-2012 .elementor-element.elementor-element-c2f66f9 {
		width: 33.34%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2012 .elementor-element.elementor-element-9ce2dac {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-72ab999 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-fe01bb9 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-9d6ae22 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-cac1e7b {
		width: 100%;
	}

	.elementor-2012 .elementor-element.elementor-element-4972d7d {
		width: 100%;
	}

	.elementor-2012 .elementor-element.elementor-element-0d3d528 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-4e07863 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-5573375 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-a8814f8 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-4a45007 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-91646d3 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-b4e05b3 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-62315fd {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-6782ed1 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-6da65a5 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-2f8e08b {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-7c312b2 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-8347a53 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-1b6c845 {
		width: 50%;
	}

	.elementor-2012 .elementor-element.elementor-element-ca49099 {
		width: 100%;
	}

	.elementor-2012 .elementor-element.elementor-element-daed2dc {
		width: 100%;
	}
}

@media(max-width:1024px) {
	.elementor-2012 .elementor-element.elementor-element-cac1e7b>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}
}

@media(max-width:767px) {
	.elementor-2012 .elementor-element.elementor-element-23a23c4 {
		padding: 7px 0px 0px 0px;
	}

	.elementor-2012 .elementor-element.elementor-element-9829767 .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-2012 .elementor-element.elementor-element-010ac50 {
		padding: 62px 15px 50px 15px;
	}

	.elementor-2012 .elementor-element.elementor-element-806c896 .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-2012 .elementor-element.elementor-element-4d12c2d {
		padding: 75px 0px 0px 0px;
	}

	.elementor-2012 .elementor-element.elementor-element-74b6153 .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-2012 .elementor-element.elementor-element-37bf6dc .elementor-heading-title {
		font-size: 20px;
	}

	.elementor-2012 .elementor-element.elementor-element-16ab0ad {
		padding: 90px 0px 60px 0px;
	}

	.elementor-2012 .elementor-element.elementor-element-2c442ff {
		padding: 42px 0px 0px 0px;
	}

	.elementor-2012 .elementor-element.elementor-element-daed2dc>.elementor-element-populated {
		padding: 4px 0px 0px 10px;
	}
}